<h1>
  <%= @article.title%>
</h1>


<p>
  <%= @article.content%>
</p>

<% @article.comments.each do |comment| %>
  <p> <%= comment.body %> </p>
<% end %>

<%= form_with(model: [ @article, @article.comments.build], local: true)  do |form|%>
  <%= form.text_field :body, placeholder: "Comment"%>
  <%= form.submit "Submit comment"%>
<% end %>